fastapi

uvicorn[standard]

sqlalchemy

pydantic

pydantic-settings

python-dotenv

passlib[bcrypt]
bcrypt==4.0.1

python-jose[cryptography]

pymysql

email-validator

python-multipart

joblib

scikit-learn
pandas